section div {
	width: 50%;
}

#greeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 200px;
}

#greeting > h1 {
	margin-bottom: 0;
	color: rgb(113, 255, 47);
	font-size: 55px;
}

#greeting_buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
	margin-bottom: 140px;
}

#greeting_buttons > a {
	width: 205px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
	box-sizing: border-box;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid white;
	font-size: 14px;
	text-align: center;
	letter-spacing: 4px;
}

#greeting_buttons > a:nth-child(1) {
	border: 2px solid rgb(255, 47, 82);
}

#greeting_buttons > a:nth-child(1):hover {
	border: 2px solid rgb(255, 47, 82);
	background-color: rgb(255, 47, 82);
	color: rgb(40, 40, 40);
}

#greeting_buttons > a:nth-child(2) {
	border: 2px solid rgb(47, 179, 255);
}

#greeting_buttons > a:nth-child(2):hover {
	border: 2px solid rgb(47, 179, 255);
	background-color: rgb(47, 179, 255);
	color: rgb(40, 40, 40);
}

#greeting_buttons > a:nth-child(3) {
	border: 2px solid rgb(113, 255, 47);
}

#greeting_buttons > a:nth-child(3):hover {
	border: 2px solid rgb(113, 255, 47);
	background-color: rgb(113, 255, 47);
	color: rgb(40, 40, 40);
}

.about-message {
	width: 100%;
}

.about-message p {
	font-size: 18px;
}

#greeting_buttons {
	margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
	#greeting {
		margin-left: 0;
	}

	#greeting_buttons {
		margin: 0;
		align-items: flex-end;
	}
}

@media screen and (max-width: 799px) {
	#greeting > h1 {
		font-size: 48px;
	}

	section div {
		width: 100%;
	}

	#greeting_buttons {
		margin: 0;
		align-items: center;
	}
}
