#contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 40%; */
}

#contact_form > div {
	width: 65%;
	margin-left: 10%;
}

#contact_form > div > h1 {
	font-size: 55px;
	margin: 0;
	color: rgb(47, 179, 255);
}

#contact_details {
	font-size: 14px;
}

#map {
	width: 60%;
	height: 100vh;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 35px;
}

form > div:first-child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

form > div:last-child {
	display: flex;
	flex-direction: column;
}

form input {
	box-sizing: border-box;
	border: none;
	height: 40px;
	padding-left: 10px;
	background-color: rgb(30, 30, 30);
	color: rgb(130, 130, 130);
}

#subject,
#message,
#submit {
	margin-top: 10px;
}

#name,
#email {
	width: 49%;
}

#subject {
	width: 100%;
}

form > div > textarea {
	box-sizing: border-box;
	border: none;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	background-color: rgb(30, 30, 30);
	color: rgb(130, 130, 130);
}

#submit {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 75px;
	text-align: center;
	border: 2px solid rgb(47, 179, 255);
	align-self: flex-end;
	color: white;
	font-weight: bold;
}

#submit:hover {
	border: 2px solid rgb(47, 179, 255);
	background-color: rgb(47, 179, 255);
	color: rgb(40, 40, 40);
	font-weight: bold;
}
