#greeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 100px;
}

#greeting > h1 {
	font-size: 55px;
}

#greeting_buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
	margin-bottom: 140px;
}

#greeting_buttons > a {
	width: 205px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
	box-sizing: border-box;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid white;
	font-size: 14px;
	text-align: center;
	letter-spacing: 4px;
}

#greeting_buttons > a:nth-child(1) {
	margin-top: 0;
	border: 2px solid rgb(255, 47, 82);
}

#greeting_buttons > a:nth-child(1):hover {
	border: 2px solid rgb(255, 47, 82);
	background-color: rgb(255, 47, 82);
	color: rgb(40, 40, 40);
}

#greeting_buttons > a:nth-child(2) {
	border: 2px solid rgb(47, 179, 255);
}

#greeting_buttons > a:nth-child(2):hover {
	border: 2px solid rgb(47, 179, 255);
	background-color: rgb(47, 179, 255);
	color: rgb(40, 40, 40);
}

#greeting_buttons > a:nth-child(3) {
	border: 2px solid rgb(113, 255, 47);
}

#greeting_buttons > a:nth-child(3):hover {
	border: 2px solid rgb(113, 255, 47);
	background-color: rgb(113, 255, 47);
	color: rgb(40, 40, 40);
}

@media screen and (max-width: 799px) {
	section {
		display: flex;
		flex-direction: column;
	}

	#greeting {
		margin-bottom: 0px;
		text-align: center;
	}

	#greeting > h1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#greeting_buttons {
		margin: 0;
	}
}

@media screen and (max-width: 599px) {
	#greeting > h1 {
		font-size: 48px;
	}

	section {
		justify-content: flex-start;
	}
}
