html,
body {
	height: 100%;
	/* width: 100%; */
}

body {
	margin: 0;
	display: flex;
	flex-direction: row;
	background-color: rgb(40, 40, 40);
}

p {
	line-height: 1.5rem;
}

h1 {
	margin-top: 0;
}

/* ----------------
   ---functional---
   ----classes-----
   ---------------- */

.hidden {
	display: none;
}

/* ------------
   ---header---
   ------------ */

header {
	min-width: 65px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(30, 30, 30);
	padding-bottom: 25px;
}

#nav_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: lightgray;
	width: 100%;
}

#nav_logo a {
	text-decoration: none;
	color: lightgray;
	font-size: 32px;
	margin: 10px 0 10px 0;
}

#nav_logo a:hover {
	color: rgb(250, 205, 0);
}

header > nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#internal_links {
	height: 250px;
}

header > nav > a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	/* margin-top: 20px; */
}

header > nav > a > p {
	color: lightgrey;
	font-size: 12px;
	margin: 0;
}

#internal_links > a:hover:first-child,
#internal_links > a:hover:first-child * {
	color: rgb(250, 205, 0);
}

#internal_links > a:nth-child(2):hover,
#internal_links > a:nth-child(2):hover * {
	color: rgb(113, 255, 47);
}

#internal_links > a:nth-child(3):hover,
#internal_links > a:nth-child(3):hover * {
	color: rgb(255, 47, 82);
}

#internal_links > a:hover,
#internal_links > a:hover * {
	color: rgb(47, 179, 255);
}

#internal_links a:first-child {
	margin-top: 0;
}

#internal_links a:last-child {
	margin-bottom: 0px;
}

#external_links > a:hover,
#external_links > a:hover * {
	color: white;
}

#external_links > a {
	height: 25px;
	margin-top: 10px;
}

#attr_info {
	position: relative;
}

#icon_attribution {
	position: absolute;
	left: 55px;
	bottom: 10px;
	background-color: lightgray;
	padding: 10px;
}

#icon_attribution span {
	text-decoration: none;
}

.menu-labels {
	font-size: 14px;
	font-weight: bold;
	color: rgb(30, 30, 30);
}

.icon {
	font-size: 22px;
	color: rgb(130, 130, 130);
}

.icon-code {
	font-size: 20px;
}

.icon-github {
	font-size: 22px;
}

.icon-linkedin-logo {
	font-size: 20px;
}

/* ------------
   --section---
   ------------ */

section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 25px 65px;
	color: white;
	box-sizing: border-box;
}

/* ----------------
   --attribution---
   ------box-------
   ---------------- */

.container {
	position: absolute;
	left: 50px;
	bottom: 25px;
}

.container .arrow {
	width: 12px;
	height: 20px;
	overflow: hidden;
	position: relative;
	float: left;
	top: 15px;
	right: -1px;
}

.container .arrow .outer {
	width: 0;
	height: 0;
	border-right: 20px solid rgb(250, 205, 0);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.container .arrow .inner {
	width: 0;
	height: 0;
	border-right: 20px solid rgb(250, 205, 0);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
	left: 2px;
}

.container .message-body {
	float: left;
	color: white;
	font-weight: bold;
	height: auto;
	border: 1px solid #ccc;
	background-color: rgb(40, 40, 40);
	border: 2px solid rgb(250, 205, 0);
	padding: 6px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 2px;
}

.message-body a {
	color: rgb(250, 205, 0);
}

@media screen and (max-width: 799px) {
	body {
		flex-direction: column;
	}

	header {
		flex-direction: row;
		padding: 0;
		padding-right: 20px;
		width: 100%;
		height: 65px;
	}

	header > nav {
		flex-direction: row;
	}

	.menu-labels {
		color: rgb(130, 130, 130);
	}

	#nav_logo {
		width: 75px;
		height: 65px;
	}

	.icon-wrapper {
		height: 100%;
	}

	#internal_links {
		height: 65px;
	}

	#external_links {
		flex-direction: column;
		width: 50px;
		margin: 10px 0;
	}

	#external_links a {
		margin: 0;
	}

	#attr_info {
		display: none;
	}

	section {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
